html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


/* Header */

.header h1 {
  line-height: 2.5em;
}

.nav-pills li {
  margin: 2.5em 0;
  padding: 0 4px;
}

.nav-pills li a {
  color: #d8192f;
  border: 1px solid #d8192f;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5);
  color:#fff;
}


/* Jumbotron */
.jumbotron {
  height: 500px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg);
  background-size: cover;
}

.jumbotron h2 {
  color: white;
  font-size: 60px;
  text-align: right;
}

.jumbotron h2:first-child {
  margin: 100px 0 0;
}

/* Banner */
.banner, .supporting {
  text-align: center;
  padding-top: 40px;
}

.banner {
  background-color:#36343f;
  height:180px;
  color: #fff;
}

.banner .btn-default {
  background: rgba(216,25,47,.5);
  border: 1px solid rgba(216,25,47,.5);
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

/* Newest Contributions Section */
.section {
  text-align: center;
}

.section h4 {
  color: rgba(216,25,47,1);
  margin: 30px 0 20px;
  padding: 0;
}

.page-header ul {
	list-style-type: none;
  text-align: center;
  padding-left: 0;
}

/* Footer */
.footer {
height: 100px;
padding: 40px 0px 100px;
margin-top: 80px;
background-color: #eeeeee;
font-size: 14px;
}

.footer .col-md-4 {
  padding: 20px 0;
  background-color: #eeeeee;
}

.footer .col-md-4:nth-child(2) {
  text-align: center;
	color: rgba(216,25,47,1);
}

.footer .col-md-4:nth-child(3) {
  text-align: right;
}

/* Media Queries */
@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .nav {
    float: none;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }
}

.footer .col-md-4 {
  text-align: center;
}
