html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* Main with Video */
.main {
  height: 540px;
  position: relative;
}

.main video {
  width: 100%;
  text-align: center;
}

.main .content {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.main h1 {
  font-size: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color: white;
  margin-bottom: 40px;
}

.btn {
  position: relative;
  text-decoration: none;
  color: white;
  background-color: #4386FC;
  padding: 15px 30px;
}

.supporting {
  padding-top: 130px;
  margin-bottom: 130px;
  text-align: center;
}

.supporting h2 {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
}

.supporting p {
  color: #333;
  font-size: 21px;
  font-weight: 300;
  padding: 0 30px;
}

.feature {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/excursion/camp.png") no-repeat center center;
	background-size: cover;
	height: 500px;
}

.footer {
  padding: 30px;
  background-color: #EEEEEE;
  font-size: 12px;
}

@media (max-width: 960px) {
  .main {
    height: 540px;
  }
  .main video {
    height: 540px;
    width: 960px;
  }
  .main h1 {
    font-size: 32px;
  }
}
